<section>
    <div class="flex flex-col items-center m-6 text-white">
      <h1 class="animate-pulse font-bold text-xl md:text-3xl">Sobre mí</h1>
      <div class="mt-4 space-y-2 max-w-2xl">
        <p>
          Soy <span class="font-bold text-sky-500">Alejandro Espino</span>, estudiante de Ingeniería de Software (8.º ciclo) en la <span class="font-bold">Universidad Peruana de Ciencias Aplicadas</span> y <span class="font-bold">desarrollador Full-Stack</span> apasionado por la optimización.
        </p>
        <p>
          Creo que cualquier problema tiene múltiples soluciones y que un pequeño cambio de código puede mejorar drásticamente el rendimiento de una página o una consulta en base de datos.
        </p>
        <p>
          Me guío por los principios <span class="font-bold">SOLID</span>, aplico <span class="font-bold">Domain-Driven Design (DDD)</span> para asegurar arquitecturas limpias, modulares y alineadas al dominio de negocio.
        </p>
        <p>
          Disfruto aprendiendo nuevas tecnologías y valoro la comunicación clara con mi equipo (Jira, Notion, PRs en GitHub) para entregar soluciones escalables y de alta calidad.
        </p>
      </div>
      <a href="/src/assets/AlejandroEspinoCV.pdf" download class="button"><span class="z-99 absolute left-[20px] top-1">Curriculum</span></a>
    </div>
    
  </section>
  <style scoped>
    @reference '../styles/global.css';

    .button{
        @apply px-16 py-4 rounded-3xl bg-slate-700 font-bold relative overflow-hidden my-8;
    }
    .button::before{
      @apply content-[''] h-full bg-sky-600 absolute left-0 top-0 w-0 transition-all duration-300 ease-in-out z-2;  
    }
    .button:hover::before{
      @apply w-full;
    }
  </style>