
---


---
<section >
    <div class="flex flex-col items-center m-6" >
        <h1 class="text-white animate-pulse font-bold text-xl md:text-3xl ">Mis proyectos</h1>
    </div>

    <div class="flex flex-col w-full">
        <div class="
        relative overflow-hidden bg-gradient-to-br from-sky-700 to-sky-800
        rounded-3xl 
        col-span-2

        ">
        <h3 class="py-4 text-center text-2xl  font-bold text-black">
            Bond Cash
          </h3>


        <div class="slider" id="slider">
         <figure class="relative w-full h-full aspect-video slider-childs" data-active>
            <img src="/src/assets/images/bondcash/bondcash_logn.png" alt="" class="object-cover block w-full h-full">
            <div class="absolute inset-0 w-[90%] mx-auto h-max mt-auto space-y-4 py-8 hidden md:block">
                <h2 class="text-3xl font-bold">Login</h2>
            </div>
         </figure>

         <figure class="relative w-full h-full aspect-video slider-childs" >
            <img src="/src/assets/images/bondcash/bondcash_historial.png" alt="" class="object-cover block w-full h-full">
            <div class="absolute inset-0 w-[90%] mx-auto h-max mt-auto space-y-4 py-8 hidden md:block">
                <h2 class="text-3xl font-bold">Historial</h2>
            </div>
         </figure>

         <figure class="relative text-white w-full h-full aspect-video slider-childs" >
            <img src="/src/assets/images/bondcash/bondcash_nightmode.png" alt="" class="object-cover block w-full h-full">
            <div class="absolute inset-0 w-[90%] mx-auto h-max mt-auto space-y-4 py-8 hidden md:block">
                <h2 class="text-3xl font-bold">Modo oscuro</h2>
            </div>
         </figure>
         <figure class="relative w-full h-full aspect-video slider-childs" >
            <img src="/src/assets/images/bondcash/Bondcash-form.png" alt="" class="object-cover block w-full h-full">
            <div class="absolute inset-0 w-[90%] mx-auto h-max mt-auto space-y-4 py-8 hidden md:block">
                <h2 class="text-3xl font-bold">Formulario</h2>
            </div>
         </figure>

         <figure class="relative w-full h-full aspect-video slider-childs" >
            <img src="/src/assets/images/bondcash/bondcash-schedule-generated.png" alt="" class="object-cover block w-full h-full">
            <div class="absolute inset-0 w-[90%] mx-auto h-max mt-auto space-y-4 py-8 hidden md:block">
                <h2 class="text-3xl font-bold">Generar horario</h2>
            </div>
         </figure>

         <button class="slider-prev bg-white rounded-full ml-4" data-button = 'prev'>
            <img src="/src/assets/previous.svg" alt="" class="pr-1 w-6 aspect-square md:w-8">
         </button>

         <button class="slider-next bg-white rounded-full mr-4" data-button = 'next'>
            <img src="/src/assets/next.svg" alt="" class="pl-1 w-6 aspect-square md:w-8">
         </button>
         

        </div>
        <div class="flex flex-col m-3 gap-3">
            <span class="text-white">
                Bond Cash es una aplicación web que calcula y genera calendarios de amortización para bonos corporativos y soberanos.
                Soporta el método francés y otros esquemas de pago, permite ajustar tasa, plazo y frecuencia, y exportar los cuadros a PDF o Excel para tus reportes financieros. 
            </span>
            
            <div class="flex flex-row gap-2">
                <a href="https://bondcash.vercel.app/" target="_blank" rel="noopener noreferrer" class="
    bg-gray-800 hover:bg-gray-700 
    text-white font-medium 
    py-2 px-6   
    rounded-full 
    transition-colors duration-200 ease-in-out
    focus:outline-none focus:ring-2 focus:ring-gray-600
  ">
                    Ver aplicación
                </a>    
                <a href="https://github.com/CafecitoSKR/frontend" target="_blank" rel="noopener noreferrer" class="
    bg-gray-800 hover:bg-gray-700 
    text-white font-medium 
    py-2 px-6 
    rounded-full 
    transition-colors duration-200 ease-in-out
    focus:outline-none focus:ring-2 focus:ring-gray-600
  ">
                    Ver repositorio
                </a>
            </div>

            <span class="text-white font-bold">Tecnologias usadas:</span>
            <div class="flex flex-row gap-1 flex-wrap">
                <label class="flex flex-row gap-1 w-24 text-center justify-center bg-[#14293B] rounded-xl px-2 py-1 border-2 border-[#0D192D] text-[#C7CEE1] hover:bg-[#0D192D] hover:text-white transition-colors duration-300 ">
                    Angular
                    <img src="src/assets/images/icons/angular-icon.png" alt="" class="w-6 aspect-square">
                </label>
                <label class="flex flex-row gap-1 w-24 text-center justify-center bg-[#14293B] rounded-xl px-2 py-1 border-2 border-[#0D192D] text-[#C7CEE1] hover:bg-[#0D192D] hover:text-white transition-colors duration-300 ">
                    Tailwind
                    <img src="src/assets/images/icons/tailwind-icon.png" alt="" class="w-6 aspect-square">
                </label>
                <label class="flex flex-row gap-1 w-28 text-center justify-center bg-[#14293B] rounded-xl px-2 py-1 border-2 border-[#0D192D] text-[#C7CEE1] hover:bg-[#0D192D] hover:text-white transition-colors duration-300 ">
                    Supabase
                    <img src="src/assets/images/icons/supabase-icon.png" alt="" class="w-6 aspect-square">
                </label>
                <label class="flex flex-row gap-1 w-28 text-center justify-center bg-[#14293B] rounded-xl px-2 py-1 border-2 border-[#0D192D] text-[#C7CEE1] hover:bg-[#0D192D] hover:text-white transition-colors duration-300 ">
                    NgPrime
                    <img src="src/assets/images/icons/ngprime-icon.png" alt="" class="w-6 aspect-square">
                </label>
                <label class="flex flex-row gap-1 w-30 text-center justify-center bg-[#14293B] rounded-xl px-2 py-1 border-2 border-[#0D192D] text-[#C7CEE1] hover:bg-[#0D192D] hover:text-white transition-colors duration-300 ">
                    PostgreSQL
                    <img src="src/assets/images/icons/postgresql-icon.png" alt="" class="w-6 aspect-square">
                </label>
            </div>
        </div>

    </div>
</section>

<script type="module">
    const slider = document.querySelector("#slider");
    const childsSlider = [...slider.querySelectorAll("figure")];

    const nextButton = document.querySelector("[data-button = 'next']");
    const prevButton = document.querySelector("[data-button = 'prev']");

    const lengthImages = childsSlider.length;
    childsSlider.forEach(function(child,index){
        child.dataset.idSlider = index.toString();
    })

    nextButton?.addEventListener("click",function(e){
        const currentImage = getCurrentImage();
        let currentActiveIndex = Number(currentImage?.dataset.idSlider);
        currentActiveIndex++;

        if(currentActiveIndex >= lengthImages){
            currentActiveIndex = 0;
        }
        const newActiveElement = childsSlider[currentActiveIndex]

        removeActiveElement(currentImage);
        addNewActiveElement(newActiveElement);
    })

    prevButton?.addEventListener("click",function(e){
        const currentImage = getCurrentImage();
        let currentActiveIndex = Number(currentImage?.dataset.idSlider);
        currentActiveIndex--;

        if(currentActiveIndex < 0){
            currentActiveIndex = lengthImages - 1;
        }
        const newActiveElement = childsSlider[currentActiveIndex]

        removeActiveElement(currentImage);
        addNewActiveElement(newActiveElement);
    })

    function getCurrentImage(){
        const currentImage = slider?.querySelector("[data-active]");
        return currentImage;
    }

    function removeActiveElement(element){
        const currentImage = getCurrentImage();
        element.removeAttribute("data-active");
    }

    function addNewActiveElement(element){
        element.setAttribute("data-active","");
    }
    
</script>