---
import "../styles/global.css";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi portafolio | Alejandro</title>
	</head>
	<body class="font-sans bg-gradient-to-br from-[#01295F] to-[#050612] ">
		<div class="max-w-screen-lg mx-auto px-4 ">
			<slot />
		</div>
	</body>
</html>


